body
{
	text-align : center;
	font-size : 15pt;
	line-height : 14pt;
	color : yellow;
	background-color : teal;
	font-family : monospace;
}
.center
{
	color : fuchsia;
}
#Description
{
	color : maroon;
}
#Hobbies
{
	color : lime;
}
#Food
{
	color : olive;
}
#Death
{
	color : navy;
}
#Foods
{
	border-color : black;
	border-width : large;
	border-style : groove;
}
#Dogs
{
	border-color : red;
	border-width : medium;
	border-style : double;
}