body
{
	text-align : center;
	font-size : 15pt;
	line-height : 14pt;
	color : green;
	background-color : orange;
	font-family : monospace;
}
ul
{
	width: 30%;
	margin: auto;
}
#biofuels
{
	color : red
}
/*This is the css for the main page*/